#question{
    font-size: 4.5rem;
    border: 1.5rem solid blue;
    padding: 1rem;
} 

/* Answer Styling */
div.choice-container{
    display:flex;
    flex-direction: row;
}
p.choice-prefix{
    width: 1.5rem;
    background-color: green;
    padding: .5rem 1rem;
}
p.choice-text{
    border: blue .1rem solid;
    width:100%;
}
/* HUD STYLING */
 .hud-prefix {
    text-align: center;
    font-size: 2rem;
}
.hud-main-text{
    text-align: center;
}

#progessBar{
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #56a5eb;
    margin-top: 1rem;
}
#progressBarFull{
    width:0%;
    height: 3.5rem;
    background-color:#56a5eb;
} 