.hidden{
  display: none;
}

#progessBar{
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #56a5eb;
  margin-top: 1rem;
}
#progressBarFull{
  width:0%;
  height: 3.5rem;
  background-color:#56a5eb;
}
.correct{
  background-color:#28a745;
}
.incorrect{
  background-color: #dc3545;
} 